/* start valus */
:root {
  --main-color: rgb(219, 133, 53);
  --smain-color: rgb(219 133 53 / 81%);
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --thmain-color: white;
  --port-color: rgb(35, 79, 81);
}

/* end valus */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "open sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* start test */
.logo img {
  max-height: 100%;
}

.main-heading {
  text-align: center;
}

nav li .person {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 5px 1px white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header {
  background-color: var(--port-color);
  box-shadow: 1px 1px 8px 0 var(--port-color);
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3d3d3d;
  }

  header nav .toggle-menu:hover + ul li a {
    padding: 15px;
  }
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 10px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

header nav ul li a .active,
header nav ul li a:hover,
header nav ul li a:focus-within {
  color: var(--main-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}

header nav .form i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* end header */
/* start landing */

.landing::before {
  content: "";
  position: absolute;
  background: #dedede;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewY(-6deg);
  left: 0;
  top: -40px;
  transform-origin: top left;
}

.landing .container {
  display: flex;
  min-height: calc(100vh - 72px);
}

.landing .text p {
  line-height: 1.7;
  color: #666;
}

.landing .image img {
  width: 300px;
  max-width: 100%;
  animation: up-and-down 10s linear infinite;
}

@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
    padding-bottom: 102px;
  }
}

/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    letter-spacing: 0;
    font-weight: 300;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  40%,
  60% {
    letter-spacing: 4px;
    font-weight: bold;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

/* end animation */
/* end landing */
/* start cards team */
.cardsTeam {
  background: url(bubleWater.png) no-repeat center;
  padding: 100px 20px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.MyCard {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (min-width: 776px) {
  .MyCard .cont img {
    height: 100%;
    width: 300px;
  }
}

@media (min-width: 330px) {
  .MyCard .cont img {
    width: 200px;
  }

  .MyCard .cont .text {
    flex: auto;
  }

  .MyCard .cont .text h3 {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .MyCard .cont .text {
    padding: 0;
  }

  .MyCard .cont .text h3 {
    font-size: 14px;
  }

  .MyCard .cont .text a {
    font-size: 12px;
  }

  .MyCard .cont img {
    width: 150px;
  }

  .cardsTeam {
    height: 81vh;
  }
}

.MyCard .cont img {
  height: 100%;
}

@media (max-width: 360px) {
  .MyCard .cont .text {
    display: none;
  }

  .MyCard .cont img {
    width: 100%;
  }
}

.cont {
  background: var(--thmain-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 190px;
  border-radius: 30px;
  margin: 10px;
  overflow: hidden;
}

.cont .text {
  color: black;
  padding: 0px 45px 14px 0px;
  flex: 0.4;
}

.cont .text h1 {
  margin: 8px;
}

.cont .text h3 {
  margin-bottom: 20px;
}

.btn_style {
  font-size: 26px;
  padding: 9px;
  border-radius: 15px;
  font-weight: bold;
  background: rgb(35, 79, 81);
  color: var(--port-color);
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  border: 2px solid;
}
@media (max-width: 416px) {
  .my_Pharmacy .btn_style {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .testimonials .box img {
    top: 0;

    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.btn_style:hover {
  background-position: left bottom;
  color: white;
}
.cardsTeam .my_Pharmacy {
  background: transparent;
  border-radius: 25px;
  padding: 30px;
  max-width: 100%;
  backdrop-filter: blur(11px);
  border-top: 1px solid white;
  box-shadow: inset -2px -2px 3px -2px black;
  border-left: 1px solid white;
}

.cardsTeam .my_Pharmacy .text h1 {
  margin: -10px 0 41px;
  color: var(--thmain-color);
  font-size: 39px;
  font-weight: 300;
  transform: translateY(-50%);
  animation: bouncing 5s linear infinite;
  -webkit-animation: bouncing 5s linear infinite;
}

.cardsTeam .my_Pharmacy .text h1:hover {
  color: var(--main-color);
}

/* end cards team */
/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.portfolio .imgs-container .box {
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}

.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}

.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 30%;
  }
}

@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}

.portfolio .imgs-container .box img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}

.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
}

.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* start portfolio */
/* start events */
.events {
  padding-top: var(--man-padding-top);
  padding-bottom: var(--man-padding-bottom-);
  position: relative;
}

.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .events .container {
    flex-direction: column;
  }
}

.events img {
  max-width: 350px;
}

.events .info {
  flex: 1;
}

.events .time {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.events .time .unit {
  width: 75px;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  transition: var(--main-transition);
}

.events .time .unit span {
  display: block;
}

.events .time .unit span:first-child {
  font-size: 35px;
  color: var(--main-color);
  font-weight: bold;
  padding: 15px;
  transition: var(--main-transition);
}

.events .time .unit span:last-child {
  font-size: 13px;
  padding: 8px 10px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}

.events .time .unit:hover,
.events .time .unit:hover span:last-child {
  border-color: var(--transparent-color);
}

.events .time .unit:hover :first-child {
  color: var(--port-color);
}

.events .info .title {
  margin: 40px 0 0;
  text-align: center;
  font-size: 30px;
}

.events .info .description {
  text-align: center;
  color: #777;
  font-size: 19px;
  line-height: 1.7;
}

.events .container .subscribe {
  width: 100%;
  margin-top: 50px;
}

.events .container .subscribe form {
  width: 660px;
  margin: 30px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .events .container .subscribe form {
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    border-radius: 0;
  }
}

.events .container .subscribe form input[type="search"] {
  flex: 1;
  padding: 20px;
  border-radius: 50px;
  border: none;
  caret-color: var(--main-color);
}

.events .container .subscribe form input[type="search"]:focus {
  outline: 0;
}

.events .container .subscribe form input[type="search"]::placeholder {
  transition: opacity var(--main-transition);
}

.events .container .subscribe form input[type="search"]:focus::placeholder {
  opacity: 0;
}

@media (max-width: 767px) {
  .events .container .subscribe form input[type="search"] {
    border-radius: 0;
  }
}

.events .container .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .events .container .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}

/* end events */
/* start main tile */
.main-title {
  margin: 0px auto 80px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  font-size: 30px;
  transition: var(--main-transition);
  z-index: 1;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: linear-gradient(45deg, var(--transparent-color), transparent);
  border-radius: 50%;
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right 0.5s linear forwards;
}

.main-title h1 {
  margin: 0;
  font-size: 29px;
}

@keyframes left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 5px;
    width: 100%;
    height: calc(100% + 0.5px);
    left: 0;
  }
}

@keyframes right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 5px;
    width: 100%;
    height: calc(100% + 0.5px);
    right: 0;
  }
}

/* End main tile */
/* start login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(imges/bgLogin.jpg) no-repeat center;
  background-size: cover;
  padding: 20px;
}

.werapper {
  width: 750px;
  background: transparent;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  text-align: center;
  border: 2px solid rgba(255, 250, 250, 0.553);
      box-shadow: 4px 3px 8px 0 #0000008f;
}

.werapper h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.werapper .input_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input_box .input_filed {
  position: relative;
  width: 50%;
  margin: 13px 0;
}

.input_filed input {
  width: calc(100% - 40px);
  background: transparent;
  height: 100%;
  border: none;
  padding: 8px 20px;
  outline: none;
  border-bottom: 2px solid #8a8787;
  transition: 1000ms;
}

.input_filed input::placeholder {
  color: antiquewhite;
  font-size: 20px;
  transition: 1s;
}

.input_box .input_filed i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #8a8787;
  transition: 500ms;
}

.input_box .input_filed:hover i {
  color: antiquewhite;
}

.input_box .input_filed:focus-within i {
  color: antiquewhite;
}

.input_box .input_filed:focus-within input::placeholder {
  color: #8a8787;
}

.input_box .input_filed:focus-within input {
  border-color: antiquewhite;
}

@media (max-width: 600px) {
  .werapper .input_box {
    flex-direction: column;
  }

  .input_box .input_filed {
    width: auto;
  }
}

/* end login */
/* Start Testimonials */
.testimonials {
  padding-top: var(--man-padding-top);
  padding-bottom: var(--man-padding-bottom-);
  background-color: var(--section-background);
  position: relative;
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%) !important;
  border-radius: 6px;
  position: relative;
}

.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
  box-shadow: 0 0 5px 2px #979797;
}

.testimonials .container .box h3 {
  margin: 0 0px 10px;
}

.testimonials .container .box .title {
  color: #555;
  letter-spacing: -1.1px;
}

.testimonials .container .box .rate {
  margin: 10px 0;
  color: #ffc107;
}

.testimonials .container .box p {
  margin: 0;
  line-height: 1.5;
  color: #777;
  letter-spacing: 2px;
}
@media (max-width: 450px) {
  .testimonials .container {
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 101px;
  }
  .testimonials .box {
    padding-top: 32px;
    background: aliceblue;
  }
  .testimonials .box {
    padding-top: 31px;
  }
}

@media (max-width: 350px) {
  .testimonials .box img {
    box-shadow: 0 0 5px 2px #979797;
  }
  .testimonials .box {
    padding-top: 32px;
    background: aliceblue;
  }

  .input_filed input {
    padding: 8px 6px;
  }
}
@media (max-width: 331px) {
  .input_btn .btn_style {
    margin: 10px 9px !important;
    padding: 0px 4px !important;
  }
}
.input_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:768px) {
  .input_filed input {
    
    padding: 10px 5px 10px 5px;
}
}
/* end Testimonials */
